.usersBox {
  background-color: #ebe4ea;
  height: 500px;
  width: 400px;
  padding: 10px;
  border: 10px solid gray;
  margin: 100px; 
  float: right;
}
.userCard {
  
  width: 99%;
  background-color: #9ac1d3;
  height: 10%;
  /* width: 399px; */
  border: 5px solid rgb(121, 94, 143);

}
.smallImage{
  float:left;
  margin: auto;
  width: 10%;
  height: 40px;
  border: 1px solid gray;
  background-color: #9ac1d3;

}
.userName{
  text-align: center;

}