/* .App {
  text-align: center;
} */

.divBox {
  border-radius: 25px;
  background-color: #ebe4ea;
  height: 1100px;
  width: 45%;
  padding: 20px;
  border: 10px solid gray;
  margin: 60px;
  float: left;
}
.backgroundImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-image: url('./bg1.png');
  background-color: #ebe4ea;
}

.signInBox {
  float: center;
  border-radius: 25px;
  background-image: url('./LIB1.png');
  height: 300px;
  width: 300px;
  border: 10px solid rgb(92, 92, 92);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type='text'],
input[type='password'] {
  border-radius: 25px;
  border: 5px solid #555;
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 250px;
  top: 50%;
  /* left: 50%; */
}
.signInButton {
  float: center;
  border-radius: 25px;
  background-color: #48a7cc;
  height: 30px;
  width: 100px;
  border: 5px solid gray;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signUpButton {
  float: center;
  border-radius: 25px;
  background-color: #48a7cc;
  height: 30px;
  width: 150px;
  border: 5px solid rgb(119, 117, 117);
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .portfolioListBox {
  background-color: #ebe4ea;
  border-radius: 25px;
  height: fixed;
  width: 45%;
  padding: 20px;
  border: 10px solid gray;
  margin: 60px;
  float: left;
} */
.newButton {
  /* float: center; */
  border-radius: 25px;
  background-color: #48a7cc;
  height: 30px;
  width: 90px;
  border: 4px solid rgb(119, 117, 117);
  position: center;
  /* top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* .App {
  text-align: justify;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

h1 {
  font-family: 'Mali';
  color: #555;
}

.form-input {
  margin-left: auto;
  margin-right: auto;
}

.list-row {
  font-family: 'Mali';
  color: #555;
}

.screentitle {
  align-items: center;
  text-align: center;
  /* font-family: 'Frutiger'; */
  font-family: 'Sacramento';
  /* color: 'MediumSeaGreen'; */
  background: rgb(240, 160, 80);
  color: rgb(60, 180, 120);
}

.someone-else-is-typing {
  align-items: center;
  text-align: center;
  font-family: 'Mali';
  color: rgb(240, 160, 80);
  background: rgb(60, 180, 150);
}

.userName-TextEditor {
  border-radius: 25px;
  font-family: 'Mali';
  min-height: 5.5vh;
  text-align: right;
  color: #66489e;
  background: rgb(60, 180, 150);
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
