.userBox {
  border-radius: 25px;
  background-color: #b4cae6;
  height: 90px;
  width: 25%;
  padding: 5px;
  border: 10px solid gray;
  margin: 20px; 
  float: right;
}
.userCard {
  
  width: 99%;
  background-color: #9ac1d3;
  height: 10%;
  /* width: 399px; */
  border: 5px solid rgb(121, 94, 143);

}
.largeImage{
  display: flex;
  align-items: center;
  vertical-align: middle;
  /* margin: 0 ; */
  float:left;
  margin: auto;
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  background-color: #9ac1d3;

}
.userName{
  text-align: center;
  color: #66489e;

}
